[Unit]
Description=Initializes Pacman keyring
Wants=haveged.service
After=haveged.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate $(basename /usr/share/pacman/keyrings/*.gpg | sed -e 's#.gpg##')

[Install]
WantedBy=multi-user.target
