[Unit]
Description=Initializes archboot rootfs
After=systemd-udev-settle.service

[Service]
Type=oneshot
StandardOutput=tty
RemainAfterExit=yes
ExecStart=/usr/lib/archboot/cpio/init.sh
