# SPDX-License-Identifier: GPL-3.0-or-later
# by Tobias Powalowski <tpowa@archlinux.org>

[Unit]
Description=Monitor Archboot log on VC11

[Service]
ExecStart=kmscon --no-switchvt --vt /dev/tty11 --login -- /usr/bin/bash -c "tail -F /tmp/archboot.log 2>/dev/null"

[Install]
WantedBy=getty.target
