# SPDX-License-Identifier: GPL-3.0-or-later
# by Tobias Powalowski <tpowa@archlinux.org>

[Unit]
Description=Initializes Pacman keyring

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c "/usr/bin/pacman-key --init; /usr/bin/pacman-key --populate"

