[Unit]
Description=Initializes Pacman keyring

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/bash -c "/usr/bin/pacman-key --init; /usr/bin/pacman-key --populate"

[Install]
WantedBy=multi-user.target
