[Unit]
Description=Load windowkeys on console

[Service]
Type=simple
RemainAfterExit=Yes
ExecStart=loadkeys windowkeys

[Install]
WantedBy=multi-user.target
