# SPDX-License-Identifier: GPL-3.0-or-later
# by Tobias Powalowski <tpowa@archlinux.org>

[Unit]
Description=Load windowkeys on console

[Service]
Type=simple
RemainAfterExit=Yes
ExecStart=loadkeys windowkeys

[Install]
WantedBy=getty.target
