[Unit]
Description=Runs trigger-update.sh at night

[Timer]
# Run everday at 2:00 night
OnCalendar=*-*-* 2:00:00
Unit=archboot-server-update.service
Persistent=true

[Install]
WantedBy=multi-user.target
