# SPDX-License-Identifier: GPL-2.0-only
# Created by Tobias Powalowski <tpowa@archlinux.org>

[Unit]
Description=TTYD
After=syslog.target
After=network.target
After=multi-user.target

[Service]
ExecStart=/usr/bin/ttyd -W ssh -o StrictHostKeychecking=no -o UserKnownHostsFile=/dev/null -i /root/.ssh/archboot-key -p 11838 localhost
Type=simple
Restart=always

